absl-py==2.1.0
antlr4-python3-runtime==4.9.3
certifi==2024.6.2
charset-normalizer==3.3.2
chex==0.1.86
click==8.1.7
cloudpickle==3.0.0
contourpy==1.2.1
cycler==0.12.1
decorator==4.4.2
distrax==0.1.5
dm-tree==0.1.8
docker-pycreds==0.4.0
etils==1.7.0
Farama-Notifications==0.0.4
filelock==3.14.0
flax==0.8.4
fonttools==4.53.0
fsspec==2024.6.0
gast==0.5.4
gitdb==4.0.11
GitPython==3.1.43
gym==0.26.2
gym-notices==0.0.8
gymnasium==0.29.1
hydra-core==1.3.2
idna==3.7
imageio==2.34.1
imageio-ffmpeg==0.5.1
importlib_resources==6.4.0
jax==0.4.25
jaxlib==0.4.25
Jinja2==3.1.4
kiwisolver==1.4.5
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.0
mdurl==0.1.2
ml-dtypes==0.4.0
moviepy==1.0.3
mpmath==1.3.0
msgpack==1.0.8
nest-asyncio==1.6.0
networkx==3.3
numpy==1.26.4
omegaconf==2.3.0
opt-einsum==3.3.0
optax==0.2.2
orbax-checkpoint==0.5.15
packaging==24.0
pettingzoo==1.24.3
pillow==10.3.0
platformdirs==4.2.2
proglog==0.1.10
protobuf==4.25.3
psutil==5.9.8
pyglet==1.5.23
Pygments==2.18.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
PyYAML==6.0.1
requests==2.32.3
rich==13.7.1
scipy==1.13.1
sentry-sdk==2.4.0
setproctitle==1.3.3
six==1.16.0
smmap==5.0.1
SuperSuit==3.9.2
sympy==1.12.1
tensorflow-probability==0.24.0
tensorstore==0.1.60
tinyscaler==1.2.7
toolz==0.12.1
# install pytorch cpu
-f https://download.pytorch.org/whl/torch_stable.html
torch==2.3.0+cpu
tqdm==4.66.4
typing_extensions==4.12.1
urllib3==2.2.1
vmas==1.4.2
# -e git+file:///path/to/your/local/repo#egg=package_name
wandb==0.17.0
zipp==3.19.2
